@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

/* Hover Desktop NavBar */
/* .NavBar a:hover{
    -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0,0,0,.4));
} */
input[type='text']{
    font-family:Kanit,Arial, FontAwesome; 
}
.text-shadow {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}
.text-shadow-head {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.text-shadow-none {
  text-shadow: none;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bebebe; 
  border-radius: 10px;
}

@keyframes spring {
  0%{
      transform: translateY(0%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
  100% {
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0.8,0,1,1); 
}
}
.animate-spring {
  animation: spring 1.7s alternate;
}

@keyframes springfc-1 {
  0%{
      transform: translateX(0%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
      transform: translateY(15%);
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
  100% {
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0.8,0,1,1); 
}
}
.animate-springfc-1 {
  animation: springfc-1 1s alternate;
}

@keyframes springfc-2 {
  0%{
      transform: translateX(0%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
      transform: translateY(15%);
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
  100% {
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0.8,0,1,1); 
}
}
.animate-springfc-2 {
  animation: springfc-2 1.7s alternate;
}
